<h2 class="profile">First Name: {{user.firstname}}</h2><br />
<h2 class="profile">Last Name: {{user.lastname}}</h2><br />
<h2 class="profile">Date of Birth: {{user.dateofbirth}}</h2><br />
<h2 class="profile">Gender: {{user.gender}}</h2><br />
<h2 class="profile">Email: {{user.email}}</h2><br />
<h2 class="profile">Phone Number: {{user.phonenumber}}</h2><br />
<div class="update">
 <form>
      <h2><a id="update" href="/users/update">Update</a></h2>
      <h2><a id="home"
          href="http://localhost:3000/users/patient1"
         
        >Home</a></h2>
    </form>
</div>